<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.amolgupta.helpingfaceless"
    android:versionCode="5"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="in.amolgupta.helpingfaceless.common.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="in.amolgupta.helpingfaceless.activities.SetupActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.amolgupta.helpingfaceless.activities.UploadForm"
            android:label="@string/lbl_upload_activity" >
        </activity>
        <activity
            android:name="in.amolgupta.helpingfaceless.activities.HomeActivity"
            android:label="@string/title_activity_setup"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="in.amolgupta.helpingfaceless.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
    </application>

</manifest>